:root {
    --pink-custom: rgba(250,30,78,255);
    --pink-purple: linear-gradient(163deg, var(--pink-custom) 0%, #3700ff 100%);
    --scrollbar-width: 10px
}

@font-face {
    font-family: OpenSans;
    src: url(../../../font/OpenSans.ttf);
}

::-webkit-scrollbar {
    background-color: transparent;
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: calc(var(--scrollbar-width) / 2);
}

body {
    font-family: OpenSans;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    overflow-x: hidden;
    margin: 10px;
}

.container {
    & > button {
        height: 20px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        color: white;
        background-color: #1a1a1a;
        border-color: white;
        border-width: 2px 0px;
        padding: 20px 10px;
        margin: 10px -10px;

        & span {
            text-align: left;
            text-transform: uppercase;
        }

        & div {
            display: grid;
            width: 20px;
            height: 20px;
            transition: ease 0.3s;
            align-content: center;
            justify-items: center;
            align-items: center;
            margin: 0;
            font-size: 2em;
        }
    }

    & > div {
        display: grid;
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 1px;
        gap: 10px;
        margin: 20px;

        & a {
            width: 100%;
            cursor: pointer;
            border-radius: 30px;
            background-color: transparent;
            overflow: hidden;
            transition: ease-out 0.5s;
            display: block;

            & img {
                position: relative;
                padding: 0;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}

.search {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 300px;
    display: inline-block;

    & input {
        height: inherit;
        width: inherit;
        opacity: 0.5;
    }

    & input:focus {
        opacity: 1;
    }
}

.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    border-radius: 20px;
    border: 2px solid white;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    padding-top: 50px;
    z-index: 2;
    align-items:last baseline;

    & > div {
        position: absolute;
        top: 10px;
        padding: 0%;
        /* border: 1px solid white; */
        width: 100%;
        left: 0em;

        & button {
            position: absolute;
            height: 30px;
            width: 30px;
            top: 0px;
            margin: 0%;
            right: 1em;
            border-radius: 100%;
        }

        & > div {
            padding-left: 1em;

            & img {
                height: 30px;
            }
        }
    }

    & > span {
        display: flex;
        gap: 10px;
    }

    & button {
        border-radius: 10px;
        cursor: pointer;
    }

    & button:hover {
        border: 2px var(--pink-custom) solid;
    }

    & input {
        border-radius: 10px;
    }

    & input:focus {
        outline: none;
        border: 2px solid var(--pink-custom);
        position: relative;
    }

    & input ~ .floating-label {
        position: absolute;
        color: grey;
        font-size: 13.3333px;
        pointer-events: none;
        transition: ease all 0.3s;
        transform: translate(5px);       
    }

    & input:focus ~ .floating-label, & input:not(:placeholder-shown) ~ .floating-label {
        position: absolute;
        width: fit-content;
        font-size: 10px;
        transform: translate(5px, -100%);
        /* background-color: #1a1a1a; */
    }

    & img {
        pointer-events: fill;
    }
}

.pop-up.mfc {
    height: 70vmin;
    aspect-ratio: 3/4;
    font-size: 2vmin;
    z-index: 4;
    
    & #pop-up-img > img {
        cursor: pointer;
        max-width: 90%;
        max-height: 55%;
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        border-radius: 10px;        
    }

    & .pop-up-title {
        text-align: center ;
    }

    & .data-container {
        position: relative;
        top: 10%;
        & p {
            width: 100%;
            margin-bottom: -5px;
            color: white;
            /* border: 1px solid white; */

            & span {
                position: absolute;
                left: 30%;
                color: white;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 65%;

                & a {
                    color: var(--pink-custom);
                    text-decoration: none;
                }

                & a:hover {
                    text-decoration: underline overline dotted var(--pink-custom);
                }

                & a:visited {
                    color: pink;
                }
            }
        }

        & #mfc-item-rating {
            position: relative;
            text-align: center;
            transition: ease-in 0.3s;
        }

        & #mfc-item-rating-before {
            position: absolute;
            display: none;
            width: fit-content;
            background-color: #313131;
            left: 50%;
            transform: translate(-50%,-150%);
            padding: 5px;
            border-radius: 5px;
            z-index: 6;
        }
    }

    & .button{
        position: absolute;
        bottom: 100px;
        padding: 1em;
        border-radius: 100px;
        left: 50%;
    }

    & .show {
        transform: translate(-50%,175%);
    }

    & .update {
        transform: translate(-50%,25%);
    }
}

.pop-up.metadata-container {
    font-size: 0.75em;
    top: 50%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    grid-template-columns: 100px 1fr;
    padding: 1em;

    & span {
        margin: 0px 10px;
    }

    & span:nth-child(2n - 1) {
        color: grey;
    }

    & span:nth-child(2n) {
        white-space: wrap;
    }
}

.main.pop-up {
    position: absolute;
    z-index: 1;
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 1em;
}