:root {
	--gear-padding: 10px;
	--gear-boder-radius: var(--gear-padding);
	--gear-minimum-width: 250px;
}

@media (max-width: 549px) {
	:root {
		--flex-row-height: 110px;
		--gear-basis: 100%;
		--font-size-by-window-size: 0.8em;
	}
}

@media (min-width: 550px) and (max-width: 809px) {
	:root {
		--flex-row-height: 180px;
		--gear-basis: clamp(var(--gear-minimum-width), 100vw, calc((100vw - 40px)/ 2 - var(--gear-padding)));
		--font-size-by-window-size: 0.9em;
	}
}

@media (min-width: 810px) {
	:root {
		--flex-row-height: 180px;
		--gear-basis: clamp(var(--gear-minimum-width), 100vw, calc((100vw - 40px)/ 3 - var(--gear-padding)));
		--font-size-by-window-size: 1.0em;
	}
}

body {
	header {
		& div {
			& h1 {
				color: lightpink;
			}
		}
	}
	gear-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: var(--gear-padding);
		row-gap: var(--gear-padding);
		
		& gear {
			flex: 0 0 var(--gear-basis);
			position: relative;
			height: var(--flex-row-height);
			width: 100%;
			border-radius: var(--gear-boder-radius);
			outline: 2px solid var(--pink-custom);
			overflow: hidden;
			
			& > a {
				color: var(--contrast-color-6) !important;
				text-decoration: none;
				padding: var(--gear-padding);
				height: calc(100% - 2 * var(--gear-padding));
				position: relative;
				display: flex;
				flex-direction: row;

				& > * {
					position: relative;
					align-self: center;
					width: 100%;
				}
				
				& > dummy {
					height: 100%;
				}

				& > grid {
					display: flex;

					& > span {
						float: right;
						text-shadow: 1px 2px var(--main-color);
						font-size: var(--font-size-by-window-size);
						align-self: center;
					}
					
					& > span:nth-of-type(1) {
						text-align: left;
						flex: 3 0 auto;
					}
		
					& > span:nth-of-type(2) {
						text-align: center;
						flex: 1 0 auto;
					}
				}

			}
		}
	}
}